<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="404 | TestData"/>
    <title>404 | TestData</title>
    <link href="/static/admin/css/error.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
    <img class="png" src="/static/images/404.png"/>
    <img class="png msg" src="/static/images/404_msg.png"/>
    <p><a href="/index" target="_blank"><img class="png" src="/static/images/404_to_index.png"/></a></p>
</div>
<div id="cloud" class="png"></div>
</body>
</html>


