<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp | TestData</title>
    <script type="text/javascript">
        onload = function () {
            setInterval(go, 1000);
        };
        var x = 2; //利用了全局变量来执行
        function go() {
            x--;
            if (x > 0) {
                document.getElementById("sp").innerHTML = x; //每次设置的x的值都不一样了。
            } else {
                location.href = '/app';
            }
        }
    </script>
</head>
<body>
{{ uploadfile_msg }}
</body>
</html>