{% block "style" %}
    <head xmlns="http://www.w3.org/1999/html">
        <title>{{ title }}</title>
        <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
        <style>
            .form_ul label {
                font-size: 18px;
                color: goldenrod;
            }

            ul {
                list-style: none;
            }

            .errorlist {
                color: red;
                font-size: xx-small;
            }

            .submit_btn {
                margin-left: 120px;
                height: 30px;
                width: 173px;
            }
        </style>
    </head>
{% endblock %}

{% block "contentRight" %}
    <div class="box">

        <form action="" method="post">
            {% csrf_token %}
            <ul class="form_ul">
                {{ data_form.as_ul }}
            </ul>
            <input class="submit_btn" type="submit" value="获取验证码">
        </form>
        <br class="data">{{ data }}</div>
    </div>
{% endblock %}