<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VestInfo | TestData</title>
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
    <style>
        tr,td,th{
            border: 1px solid #1ab7ea;
        }
    </style>
</head>
<body>
<form method='post' action='' enctype="multipart/form-data" id="myForm">
    {% csrf_token %}
    <input type="number" min="1000" name='myInput' placeholder="查询后会更新用户名称"/>
    <input type="submit" name='myFind' value="查询" onclick="">
</form>
<table cellpadding="4">
    {% for info in find_result %}
        <tr>
            <td>{{ info.owner }}</td>
            <td>{{ info.uid }}</td>
            <td>{% if info.gender == 1 %}
                <span style="color: #2094ea">♂</span>
            {% elif info.gender == 0 %}
                <span style="color: #c71947">♀</span>
            {% endif %}
            </td>
            <td>{{ info.name }}</td>
        </tr>
    {% endfor %}
</table>

{% if vest_info != None %}
    <table cellpadding="4">
        <h3>马甲账号</h3>
        <tr>
            <th>ID</th>
            <th>拥有者</th>
            <th>职位</th>
            <th>马甲账号</th>
        </tr>
        {% for info in vest_info %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.owner }}</td>
                <td>{{ info.position }}</td>
                <td>
                    {% for account in info.id_info.all %}
                        {% if account.gender == "1" %}
                            <span style="color: #2094ea">♂</span>👳
                        {% else %}
                            <span style="color: #c71947">♀</span>👧
                        {% endif %}
                        {{ account.account }}
                        {{ account.name }}
                         <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>
</html>